# Node modules
node_modules/
**/node_modules/

# Build output
/dist
/dist-ssr
**/dist/
**/dist-ssr/

# Environment variables files
.env
.env.*

# Package manager lock files (optional, ignore if you want to commit these)
yarn.lock
pnpm-lock.yaml

# IDE and Editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables (all levels)
.env
.env.*
**/.env
**/.env.*
!**/.env.j2
!**/*.j2
**/local.properties

# Terraform files
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/crash.log
**/*.tfvars
**/*.tfvars.json

# Private keys and certs
**/*.pem
**/*.key
**/*.pub

